@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "noto";
  src: url("../public/font/NotoSansMono.ttf");
  font-weight: normal;
}

.bg-hero {
  /* width: 600px;
  height: 485.6px; */
  background-image: url(../assets/XTELP\ T\ 1.png);
}

@font-face {
  font-family: "bungee";
  src: url("../public/font/bungee/BungeeInline-Regular.ttf");
  font-weight: normal;
}

.App {
  text-align: center;
  background-color: #282c34;
  height: 100%\ ;
  display: grid;
  place-items: center;
}

.container {
  width: 100%;
}

button {
  background: #246bfd;
  color: white;
  border: none;
  padding: 0.5rem 0.75rem;
  margin: 0.75rem 0.5rem;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  opacity: 0.75;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.peers-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  place-items: center;
}

.w-fit {
  width: fit-content;
}

.mx-auto {
  margin: auto;
}

.text-left {
  text-align: left;
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}

ol {
  color: dodgerblue;
  font-size: 1rem;
  line-height: 2rem;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.host {
  height: 100vh;
}