@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "noto";
  src: url("../public/font/NotoSansMono.ttf");
  font-weight: normal;
}

.bg-hero { 
  /* width: 600px;
  height: 485.6px; */
  background-image: url(../assets/XTELP\ T\ 1.png);
 }

@font-face {
 font-family: "bungee";
  src: url("../public/font/bungee/BungeeInline-Regular.ttf");
  font-weight: normal;
}